<?xml version="1.0"?>
<launch>
  
  <arg name="port" default="9090" />

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="9090" />
	</include>
  <param name="/use_sim_time" value="true" />

 <!--  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster" args="3.14 0 0 0 0 0 base_link base_laser" /> -->
  <node name="tf2_odom_broadcaster" pkg="navigator_package" type="tf2_odom.py" output="screen" >
</node>
  <node name="tf2_laser_broadcaster" pkg="navigator_package" type="static_tf2_laser_broadcaster.py" output="screen" >
</node>
 

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigator_package)/launch/mapping.rviz"/>

<node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
  <param name="base_frame" value="base_link"/>
    <param name="odom_frame " value="odom"/>
    <param name="delta" value="0.1" />
  </node>


</launch>
