<?xml version="1.0"?>
<launch>
  <!-- this launch file corresponds to robot model in ros-pkg/robot_descriptions/pr2/erratic_defs/robots for full erratic -->
  <arg name="port" default="9090" />

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="9090" />
	</include>
  <param name="/use_sim_time" value="true" />

  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 base_link base_laser 100" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigator_package)/launch/mapping.rviz"/>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="/base_scan"/>
    <param name="base_frame" value="base_link"/>
    <param name="odom_frame " value="odom"/>
  </node>


</launch>
